.loading {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;
  }
  
  .loading > div {
    width: 5vmax;
    height: 5vmax;
    border-bottom: 4px solid rgba(0,86,179, 0.719);
    border-right: 3px solid rgba(0,86,179, 0.719);
    border-left: 1px solid rgba(255, 255, 255, 0.719);
  
    border-radius: 50%;
  
    animation: loadingRotate 800ms linear infinite;
  }
  
  @keyframes loadingRotate {
    to {
      transform: rotateZ(-360deg);
    }
  }